@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVariableVF.woff2") format("woff2");
  font-weight: variable;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: variable;
  font-style: normal;
  font-display: swap;
}

html {
  @apply font-sans text-midnight bg-paperwhite font-light overscroll-y-contain;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-black;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
p {
  @apply text-lg;
}

:root {
  --primary: #eeeee1;
  --secondary: #111111;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
