---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/hero.astro";
import Why from "@/components/home/why.astro";
import Packages from "@/components/home/packages.astro";
import Contact from "@/components/home/contact.astro";
---

<Layout title="Void Studio">
  <main>
    <Hero />
    <Why />
    <Packages />
    <Contact />
  </main>
</Layout>
