---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/hero.astro";
import Why from "@/components/home/why.astro";
---

<Layout title="Void Studio">
  <main>
    <Hero />
    <Why />
  </main>
</Layout>
