---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/hero.astro";
import Why from "@/components/home/why.astro";
import Packages from "@/components/home/packages.astro";
import Contact from "@/components/home/contact.astro";
import What from "@/components/home/what.astro";
import How from "@/components/home/how.astro";
---

<Layout title="Void Studio">
  <main class="bg-fixed">
    <Hero />
    <What />
    <Why />
    <Packages />
    <How />
    <Contact />
  </main>
</Layout>
