---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/hero.astro";
import Why from "@/components/home/why.astro";
import Packages from "@/components/home/packages.astro";
import Contact from "@/components/home/contact.tsx";
import What from "@/components/home/what.astro";
import How from "@/components/home/how.astro";
---

<Layout title="Void Studio" style="background-image: url(/gradient.svg)">
  <main class="bg-fixed bg-cover" style="background-image: url(/noise.svg)">
    <Hero />
    <What />
    <Why />
    <Packages />
    <How />
    <Contact client:idle />
  </main>
</Layout>
