---
import Input from "@/components/common/input.astro";
import Textarea from "../common/textarea.astro";
---

<div
  id="contact"
  class="w-screen flex flex-col justify-center min-h-screen p-8 md:p-16 lg:p-24 relative"
>
  <div class="flex flex-wrap">
    <div class="flex">
      <p class="overflow-hidden whitespace-nowrap ml-3">Hello! It's</p>
      {" "}
      <Input placeholder="Elon Musk" className="w-[20ch]" />
    </div>

    <div class="flex">
      <p class="overflow-hidden whitespace-nowrap ml-3">I'm</p>
      {" "}
      <Input placeholder="CEO & Founder" className="w-[25ch]" />
    </div>
    <div class="flex">
      <p class="overflow-hidden whitespace-nowrap ml-3">at</p>
      {" "}
      <Input placeholder="Tesla" className="w-[20ch]" />
      {"."}
    </div>
    <div class="flex flex-wrap w-full my-6">
      <p class="overflow-hidden whitespace-nowrap ml-3">And I'm looking to</p>
      {" "}
      <Textarea
        placeholder="create a mind-blowing landing/marketing site for CyberTruck"
        className="min-w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl"
      />
    </div>

    <div class="flex">
      <p class="overflow-hidden whitespace-nowrap ml-3">within</p>
      {" "}
      <Input placeholder="3 days" className="w-[10ch]" />
    </div>

    <div class="flex flex-wrap">
      <p class="ml-3">with the budget of&nbsp;</p>

      <Input
        type="number"
        placeholder="1B"
        className="relative sm:max-w-[5ch] lg:max-w-[20ch]"
      />
      <p class="overflow-hidden whitespace-nowrap">{"USD."}</p>
    </div>

    <div class="flex flex-wrap mt-6 md:mt-0">
      <p class="ml-3">Here's my</p>

      <Input
        type="email"
        placeholder="email"
        className="relative sm:max-w-[5ch] lg:max-w-[20ch]"
      />
      <p class="overflow-hidden whitespace-nowrap">{"let's talk soon!"}</p>
    </div>
  </div>

  <h1 class="w-full text-center mt-16 lg:mt-36">Let's talk?</h1>
</div>
