---
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout>
  <nav
    class="absolute top-8 md:top-16 lg:top-24 right-8 md:right-16 lg:right-24 flex flex-col items-end"
  >
    {
      ["Home", "What we do", "Why Us", "Behind the scene", "Expertise"].map(
        (item) => (
          <a href="#" class="font-semibold">
            {item}
          </a>
        )
      )
    }
  </nav>

  <div class="flex flex-col justify-end flex-1 max-w-[65rem]">
    <h1 class="text-8xl">
      <span class="font-bold">We're</span>
      {` `}
      <span class="text-purple font-black">Void Studio.</span>
    </h1>
    <h2 class="text-2xl font-semibold">
      We create web-apps that make your users 'wow!'
    </h2>
    <div class="h-10"></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium
      fusce id velit ut. Justo laoreet sit amet cursus sit amet dictum. Sit amet
      cursus sit amet dictum sit amet justo.
    </p>
    <div class="h-10"></div>
  </div>

  <a
    href="#contact"
    aria-label="Contact us"
    class="absolute bottom-0 left-0 bg-purple h-16 sm:pt-3 lg:pt-2 text-paperwhite text-4xl font-bold overflow-hidden"
  >
    <div
      class="relative flex overflow-hidden items-center w-screen"
      aria-hidden="true"
    >
      <div class="motion-safe:animate-marquee whitespace-nowrap">
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
      </div>

      <div
        class="absolute top-0 motion-safe:animate-marquee2 whitespace-nowrap"
      >
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
      </div>
    </div>
  </a>
</SectionLayout>
