---
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout>
  <div class="flex flex-col justify-end flex-1 max-w-[65rem]">
    <h1 class="text-8xl">
      <span class="font-bold">We're</span>
      {` `}
      <span class="text-purple font-black">Void Studio.</span>
    </h1>
    <h2 class="text-2xl font-semibold">
      We create software that make your users 'wow!'
    </h2>
    <div class="h-10"></div>
    <p>
      At Void Studio, we seamlessly blend innovation, efficiency and expertise
      to not just meet but exceed your expectations. Simply put, we specialize
      in delivering cutting-edge digital solutions. If you crave shipping speed
      combined with peak performance and stunning design in your software,
      you're in the right hands.
    </p>
    <div class="h-10"></div>
  </div>

  <a
    href="#contact"
    aria-label="Contact us"
    class="flex items-center absolute bottom-0 left-0 bg-purple h-16 sm:pt-3 lg:pt-2 text-paperwhite text-4xl font-bold overflow-hidden"
  >
    <div
      class="relative flex overflow-hidden items-center w-screen"
      aria-hidden="true"
    >
      <div class="motion-safe:animate-marquee whitespace-nowrap">
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
      </div>

      <div
        class="absolute top-0 motion-safe:animate-marquee2 whitespace-nowrap"
      >
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
        <span class="px-4 max-h-min">Start your project now!</span>
      </div>
    </div>
  </a>
</SectionLayout>
