---
const how = [
  {
    title: "Understanding & Discovery",
    description:
      "We start with your wants and figure out your needs a.k.a. exactly what you are trying to build and how we can help you do it. We engage in detailed discussions to comprehend your business, goals, customer dynamics, and competitive landscape.",
  },
  {
    title: "Design & Feedback",
    description:
      "After understanding of your business needs, we initiate a prototype phase. Crafting a prototype, we present it to you for feedback and improve upon it until it serves your requirements. creating a  process we like to call “fail fast, fix often”",
  },
  {
    title: "Development & Testing",
    description:
      "With an approved design in place, we start  the development phase. During which via leveraging cutting-edge technologies, we construct a secure, fast and scalable solution. You are kept in the loop every step of the way while we develop the correct software for you.",
  },
  {
    title: "Deployment & Maintenance",
    description:
      "Once we are done with the development and testing, \
      we deploy the solution to a production environment. \
      We also make sure that the solution is secure and \
      optimized for performance.",
  },
];
---

<div
  class="flex flex-col justify-center min-h-screen p-8 md:p-16 lg:p-24 relative"
>
  <div>
    <h1 class="w-full">Oh, the process?</h1>
    <h1 class="w-full text-right text-purple font-bold">It's simple!</h1>
  </div>

  <div class="flex max-w-full overflow-x-scroll my-36 gap-8">
    {
      how.map((x, idx) => (
        <div class="min-w-max">
          <div class="flex text-purple items-end gap-6">
            <h1 class="text-8xl">{idx + 1}</h1>
            <h1 class="text-purple font-bold text-2xl max-w-[15rem] pb-2">
              {x.title}
            </h1>
          </div>
          <p class="w-[30rem] border-l border-midnight text-lg pl-4 mt-6">
            {x.description}
          </p>
        </div>
      ))
    }
  </div>
</div>
