---
const packages = [
  {
    title: "Landing site",
    estimation: "in less than 72 hours",
    features: [
      "Landing page",
      "UI/UX design",
      "Contact form",
      "Analytics integrations",
      "100% mobile Responsive",
      "2 revisions",
    ],
    seats: 10,
    price: 1499,
    availableSeats: 8,
    discountedPrice: 1299,
    discountForSeats: 3,
  },
  {
    title: "MVP",
    estimation: "in less than a month",
    features: [
      "Landing page",
      "Full-stack development",
      "UI/UX design",
      "Analytics integrations",
      "100% mobile Responsive",
      "Deployment & launch",
    ],
    seats: 3,
    availableSeats: 1,
    price: 5599,
  },
  {
    title: "Web app",
    estimation: "in less than three months",
    features: [
      "Landing page",
      "Full-stack development",
      "UI/UX design",
      "Analytics integrations",
      "Custom dashboards",
      "100% mobile Responsive",
      "Deployment & launch",
    ],
    seats: 2,
    availableSeats: 1,
    price: 9999,
  },
];
---

<div
  class="flex flex-col justify-center min-h-screen p-8 md:p-16 lg:p-24 relative"
>
  <h1 class="w-full text-center">Get started right now!</h1>

  <div class="flex flex-col lg:flex-row gap-8 mt-12 flex-wrap">
    {
      packages.map((x) => (
        <div class="flex flex-col w-full lg:w-auto justify-between flex-1 border-2 border-purple p-3">
          <div>
            <h3 class="text-center text-lg font-bold">{x.title}</h3>
            <p class="text-center italic font-normal text-sm">{x.estimation}</p>
          </div>

          <div>
            <p class="text-center text-xs pt-8">Starting at</p>
            <h3
              class:list={[
                "text-center text-purple",
                x.discountedPrice && x.discountedPrice > 0
                  ? "text-lg line-through font-bold text-midnight"
                  : "text-2xl",
              ]}
            >
              ${x.price.toLocaleString("en-US")}
            </h3>

            {x.discountedPrice && (
              <h3 class:list={["text-center text-2xl text-purple"]}>
                ${x.discountedPrice.toLocaleString("en-US")}
              </h3>
            )}

            <a
              href="https://cal.com/void-studio-tech"
              class="flex justify-center w-full mt-6"
              rel="noopener noreferrer"
            >
              <button class="mx-auto px-4 py-2 text-md font-semibold bg-midnight text-paperwhite">
                Book a call
              </button>
            </a>
            <p class="text-center font-normal text-xs mt-3">
              {`${x.availableSeats}/${x.seats} seats available`} <sup>*</sup>
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>
