---
import { Image } from "astro:assets";
const what = [
  {
    icon: "/icons/web.svg",
    title: "Web apps",
    description:
      "Bring your business vision to life! We specialize in constructing the features you need, using our proficiency in creating fast and reliable web applications.",
  },
  {
    icon: "/icons/design.svg",
    title: "UI/UX design",
    description:
      "Elevate your digital presence with our UI/UX expertise. We combine aesthetics and functionality to create visually stunning, intuitively designed interfaces.",
  },
  {
    icon: "/icons/blockchain.svg",
    title: "Blockchain & dApps",
    description:
      "Our hands-on experience, expertise in decentralized technologies, Specializing in working with decentralized founders makes us your trusted guide into the future of Web3.",
  },
  {
    icon: "/icons/ai.svg",
    title: "AI & ML",
    description:
      "Immerse in innovation with our AI development expertise! We specialize in crafting intelligent systems that adapt, learn, and make informed decisions, tailoring solutions to propel your business forward.",
  },
];
---

<div
  class="w-screen flex flex-col justify-center min-h-screen p-8 md:p-16 lg:p-24 relative"
>
  <h2 class="w-full text-center">What we do</h2>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 grid-flow-row gap-12 mt-16 lg:mt-36"
  >
    {
      what.map((x) => (
        <div class="flex border-2 border-midnight items-center px-3 py-6">
          {x.icon && (
            <Image
              src={x.icon}
              alt="Web apps"
              width={80}
              height={80}
              class="mr-4"
            />
          )}
          <div class="flex-1">
            <h3 class="text-xl mb-4">{x.title}</h3>
            <p class="text-sm">{x.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
