---
import SectionLayout from "@/layouts/SectionLayout.astro";
import { Image } from "astro:assets";
---

<div class="flex min-h-screen p-8 md:p-16 lg:p-24 relative flex-wrap gap-10">
  <div class="flex flex-col justify-end sm:w-full md:w-2/5">
    <h2>Why us?</h2>
    <div class="h-6"></div>
    <ul class="list-disc list-inside text-xl">
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
  </div>

  <div
    class="flex flex-col justify-end flex-1 sm:w-full md:w-3/5 bg-purple text-paperwhite p-6"
  >
    <h3>Founder's message</h3>
    <p class="mt-6 text-sm lg:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium
      fusce id velit ut. Justo laoreet sit amet cursus sit amet dictum. Sit amet
      cursus sit amet dictum sit amet justo.
      <br />
      <br />
       Nulla facilisi morbi tempus iaculis urna id volutpat lacus laoreet.
      Mattis aliquam faucibus purus in massa tempor nec. Aliquet lectus proin
      nibh nisl condimentum. Suspendisse sed nisi lacus sed viverra tellus. Eu
      augue ut lectus arcu.
      <br />
      <br />
       Et odio pellentesque diam volutpat commodo sed egestas egestas!
    </p>

    <div class="flex w-full mt-6 gap-4 items-center">
      <Image
        class="rounded-full"
        src="/team/zahin.webp"
        alt="Founder & CEO"
        width="80"
        height="80"
      />
      <div>
        <h4 class="text-2xl font-bold">Zahin Haque</h4>
        <p class="text-lg">Founder & CEO</p>
      </div>
    </div>
  </div>
</div>
