---
interface Props {
	title: string;
}
import "@/styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Void Studio - a software development and design agency" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script defer data-domain="voidstudio.tech" data-api="/plausible/api/event" src="/plausible/js/script.js"></script>
		<title>{title}</title>
	</head>
	<body class="">
		<slot />
	</body>
</html>
