---
interface Props {
  title: string;
  style?: string;
}
import "@/styles/global.css";
import { Image } from "astro:assets";

const { title, style } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Void Studio - a software development and design agency"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="voidstudio.tech"
      data-api="/plausible/api/event"
      src="/plausible/js/script.js"></script>
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden relative bg-fixed bg-no-repeat" style={style}>
    <nav
      class="fixed top-8 md:top-16 lg:top-24 right-8 md:right-16 flex-col items-end z-50 bg-paperwhite p-3 hidden lg:flex"
    >
      {
        ["Home", "What we do", "Why Us", "Behind the scene", "Expertise"].map(
          (item) => (
            <a href="#" class="font-semibold text-[18px] link-underline">
              {item}
            </a>
          )
        )
      }
    </nav>

    <Image
      src="/favicon.svg"
      alt="Logo of Void Studio"
      height={120}
      width={120}
      class="h-[60px] w-[60px] lg:h-[80px] lg:w-[80px] xl:h-[120px] xl:w-[120px] fixed top-8 md:top-16 lg:top-24 left-8 md:left-16 z-50"
    />

    <slot />
  </body>
</html>
